:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}
body{
    background-color: #22212C;
    display: grid;
    grid-template-areas: 
        "perfil projetos"
    ;
    grid-template-columns: 30% 70%;
}

aside{
    grid-area: "perfil";
}
main{
    grid-area: "projetos";
}
.perfil{
    width: auto;
    height: auto;
    left: 40px;
    top: 40px;
    margin: 20px;
    background-color: #302F3D;
    color: #837E9F;
    border-radius: 20px;
    text-align: center;
    font-family: sans-serif;
    padding: 30px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}
.perfil img{
    width: 128px;
    height: 128x;
    border: 2px solid #837E9F;
    border-radius: 100%;
}
.contato{
    display: grid;
    grid-template-areas: "icone info";
    grid-template-columns: 50px 300px;
    width: auto;
    height: auto;
    margin: 20px;
    background-color: #302F3D;
    color: #837E9F;
    border-radius: 20px;
    font-family: sans-serif;
    padding: 30px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #837E9F;
}
.icons{
    grid-area: "icone";
}
.infos{
    grid-area: "info";
    font-size: 1em;
    line-height: 1.7em;
}
.tecnologias{
    
    width: auto;
    height: auto;
    margin: 20px;
    background-color: #302F3D;
    color: #837E9F;
    border-radius: 20px;
    font-family: sans-serif;
    padding: 30px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    text-align: center;
}
.tec{
    display: inline-block;
    background-color: #CB92B1;
    border-radius: 5px;
    color: #22212C;
    margin:3px;
    padding: 3px;
}
.experiencia{
    width: auto;
    height: auto;
    margin: 20px;
    padding: 30px;
    background-color: #302F3D;
    color: #837E9F;
    border-radius: 20px;
    font-family: sans-serif;
    text-align: justify;

}
.experiencia ul{
    list-style-type: square;
    line-height: 1.2em;
}

.projects{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    background-color: #302F3D;
    color: #837E9F;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    font-family: sans-serif;
    align-items: center;
}

.github{
    display: grid;
    grid-template-areas: "card card2";
    grid-template-columns: 50% 50%;
}

.card{
    background-color: #302F3D;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    color:#837E9F;
    font-family: sans-serif;
}
.slider{
    margin: 0 auto;
    width: 200px;
    height: 300px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 300px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 200px;
}

.manual-navigation{
    position: absolute;
    width: 200px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #CB92B1;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background-color: #CB92B1;
}

#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -25%;
}
#radio3:checked ~.first{
    margin-left: -50%;
}
#radio4:checked ~.first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #837E9F;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute ;
    width: 200px;
    margin-top: 260px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #CB92B1;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #CB92B1;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #CB92B1;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #CB92B1;
}

.card p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.rodape-card{
    display: flex;
    justify-content: space-between;    
}
.titulo-card{
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.titulo-card > div{
    margin: 2px;
}
.post{
    background-color: #302F3D;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    color: #837E9F;
    font-family: sans-serif;
    display: grid;
    grid-template-areas: "foto post";
    grid-template-columns: 100px 1fr;
    align-items: center;
}
.post img{
    margin: 20px;
    width: 98px;
    height: 98px;
    border-radius: 100%;
}
.texto-pub{
    grid-area: "post";
    margin: 0 40px;
}
.ativa-modal{
    cursor: pointer;
}

.modal{
    padding: 20px;
    width: 700px;
    height: 500px;
    background-color: #837E9F;
    position: fixed;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: animate;
    animation-duration: 800ms;

}

@keyframes animate{

    from{opacity: 1;}
    from{opacity: 0;}
}

.conteudo-modal{
    color: #22212C;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#itens-modal{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    /*-webkit-overflow-scrolling: touch;*/
    scroll-behavior: smooth;
}
.item{
    flex: none;
    width: 42%;
    height: 450px;
    scroll-snap-align: start;
    pointer-events: none;
}
.conteudo-modal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fechar{
    margin: 5px;
    padding: auto;
    width: 30px;
    height: 30px;
    background-color: #22212C;
    border-radius: 20px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
}
.fechar p{
    margin: 6px;
    color: #CB92B1;
}
@media only screen and (max-width:728px) {
    body{
        display: block ;
    }
    .perfil{
        display: grid;
        margin: 10px auto;
        grid-template-areas: "foto info";
        align-items: center;
        text-align:start;
        font-size: auto;
    }
    .perfil img{
        width: 80px;
        height: 80x;
        border-radius: 100%;
    }

    .info-perfil{
        margin: auto 10px;
    }
    .contato{
        margin: 10px auto;
        font-size: small;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .icons svg{
        height: 1.5em;       
    }
    .tecnologias{
        margin: 10px auto;
        padding: 30px;
        font-size: small;
    }
    .tec{
        font-size: auto;
    }
    .experiencia{
        margin: 10px auto;
        padding: 10px 30px;
        text-align: left;
        font-size: small;
    }
    .github{
        display: block;
    }
    .projects{
        margin: 10px auto;
        padding: 10px;
        font-size: medium;
    }
    .card{
        margin: 10px;
        padding: 10px;
    }
    .post{
        margin: 15px;
        padding: 10px;
        align-items: flex-start;
        grid-template-columns: 40px 1fr;
        font-size: small;
    }
    
    .post img{
        width: 25px;
        height: 25px;
        border-radius: 100%;
    }
    .texto-pub{
        margin: 0 10px;
        align-items: flex-start;
    }
    .modal{
        margin: 0 10px;
        position:fixed;
        width: 80%;
    }
    .item{
        width: 90%;
    }
}